* {
   background-color: #ffffff;

    font-family: Clear Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
body{
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

nav{
    
    width: 100%;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

.navrow{
    width: 98%;
    height: 42px; 
    display: flex;
    align-items: center;
    
}
#logo{
    width: 170px;
    height: 50px;
    margin-top: 8px;
    margin-left: 10px;

}
.navrow img{
    
    width: 50px;
    height: 25px;
    margin-top: 0px;
    margin-left: 10px;
}
.navrow a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 7px;
    font-size: 15px;
}
.navrow a:nth-child(2){
    color: red;
}

.navrow a:hover,p:hover{
    color: red;
}

.navrow a:nth-child(7){
    margin-right: 130px;
}
.navrow>input{
    margin-left: 60px;
    margin-right: 8px;
    background-color: rgb(206, 221, 236);
    text-align: center;
    width: 15%;
    height: 30px;
    border: none;
    
}
#search{
    border: none;
    background-color: rgb(206, 221, 236);
    cursor: pointer;
    border-radius: 13px;
}

.search{
    margin-right: 8%;
    border-radius: 15px;
    background-color: rgb(206, 221, 236);
}
.search>input{
  width: 450px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: rgb(206, 221, 236);
  outline: none;
}
.search svg{
    margin-right: 9px;
    background-color: rgb(206, 221, 236);
}
#button{
    
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: rgb(243, 70, 47);
    margin-left: 30px;
}
p{
    font-size: 15px;
    margin: 20px;
}
nav h3{
    font-size: 17px;
    font-weight: 100;
}

/* nav finished******************************** */

.main{
    width: 100%;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 18% 82%;
}
.right{
    width: 97%;
    margin:auto;
    
    
}
.left{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 30px;
    
}
#sorting{
    width: 200px;
    height: 30px;
}
option{
    
    background-color: aliceblue;
    color: blue;
}

#append{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.card{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

#append img{
    width: 75%;
    height: 200px;
    
}
.pr{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}

.pr button{
    width: 50px;
    color: red;
    height: 50px;
    border: none;
    cursor: pointer;
}


.card > h4, p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(68, 67, 67);
    
}



#filters {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.rating {
    height: 20px;
    width: 45px;
    background-color: rgb(255, 255, 255);
    margin-top: -32px;
    opacity: 95%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.desc {
    margin-top: -15px;
    margin-left: 10px;
}

.name {
    margin-left: 10px;
    margin-top: 10px;
}

.price {
    margin-left: 10px;
    margin-top: -20px;
}

#categ {
    /* border: 0.5px solid ; */
    height: 150px;
    width: 100%;

}

#categ>input {
    margin-left: 15px;
}

#brand {
    height: 260px;
    width: 100%;
    /* border: 0.5px solid rgb(227, 185, 192); */
    /* margin-left: 15px; */


}

#brand>input {
    margin-left: 15px;
}

#price4 {
    height: 230px;
    
    /* border: 0.5px solid rgb(227, 185, 192); */
    border-top: none;
    font-size: 14px;
}

#price4>input {
    margin-left: 15px;
}

#discount {
    height: 270px;
    width: 100%;
    /* border: 0.5px solid rgb(227, 185, 192); */
    border-top: none;
    font-size: 15px;
}

#discount>input {
    margin-left: 15px;
}

#sort1 {
    width: 220px;
    height: 35px;
}
footer{
    margin-top: 20px;
}
